.speech{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    color: black;
}

.stage-direction{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: black;
    background-color: paleturquoise;
}

.name{
    font-size: 20px;
    color: black;
}

.stage-direction:hover{
    background-color: lightsteelblue;
    color: mediumseagreen;
}

.hunstanton{
    color: mediumvioletred;
}

.allonby{
    color: orange;
}

.caroline{
    color: palegreen;
}

.stutfield{
    color: saddlebrown;
}

.kelvil{
    color: slateblue;
}

.john{
    color: violet;
}

table { 
    border: solid 3px saddlebrown;
    width: 70%;
}
 th{
     border: solid 1px saddlebrown;
     color:slateblue;
     text-align: center;
 }
td{
    border: solid 1px saddlebrown;
    color: tomato;
    text-align: left;
}
tr:nth-child(even) {
    background-color:skyblue;
}

.stutfield:hover{
    text-shadow: 2px 2px 2px seagreen;
    border: solid 3px salmon;
    }

ul.navbar-horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.navbar-horizontal li {
    float:left;
    background: linear-gradient(110deg, yellowgreen 40%,purple 50%);
}
ul.navbar-horizontal a {
    display:block;
    padding:20px;
    color: pink;
}
ul.navbar-horizontal a:hover {
    background-color: violet;
    color:yellowgreen;
}